.container {
  position: relative;
  width: 100%;
  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
      justify-content: space-between;
      gap: 5px 10px;
    }
    .zip {
      display: inline-flex;
      line-height: 100%;
      min-width: 24px;
      &.hidden {
        display: none;
      }
    }
    .menu {
      flex-shrink: 1;
      flex-grow: 1;
    }
  }
  input {
    height: 40px;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: white;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
  }
}
